<div class="header_wrap">
  <a class="header_logo" routerLink="/">
    <svg-icon class="header_logo_icon" src="../../assets/icons/logo.svg"></svg-icon>
  </a>
  <div class="header_navigation_wrap hidden_sm_down">
    <div class="header_navigation_item" *ngFor="let item of navigationItems">
      <a class="header_navigation_item_link"
         [ngClass]="{'disabled': !item.available}"
         [routerLink]="item.link"
         routerLinkActive="active"
         *ngIf="item.visible">{{item.value}}</a>
    </div>
    <div class="header_navigation_item">
      <a class="header_navigation_item_link"
         routerLink="settings"
         routerLinkActive="active">Settings</a>
    </div>
    <div class="header_navigation_item">
      <div class="header_navigation_item_link" (click)="logout()">Exit</div>
    </div>
  </div>
  <div class="mobile_navigation_icon hidden_sm_up" [ngClass]="{'active': mobileNav}" (click)="toggleNavigation($event)"><span></span><span></span><span></span></div>
  <div class="mobile_navigation_wrap hidden_sm_up" [ngClass]="{'visible': mobileNav}" (clickOutside)="mobileNav ? mobileNav = false : void">
    <div class="mobile_navigation_item" *ngFor="let item of navigationItems">
      <a class="mobile_navigation_item_link"
         [ngClass]="{'disabled': !item.available}"
         [routerLink]="item.link"
         routerLinkActive="active"
         *ngIf="item.visible">{{item.value}}</a>
    </div>
    <div class="mobile_navigation_item">
      <a class="mobile_navigation_item_link"
         routerLink="settings"
         routerLinkActive="active">Settings</a>
    </div>
    <div class="mobile_navigation_item">
      <div class="mobile_navigation_item_link" (click)="logout()">Exit</div>
    </div>
  </div>
</div>
