@import '../../vars'

.page_info
  background: $accent
  color: #fff
  height: rem(176)
  &_title
    font-size: rem(24)
    margin: rem(48) 0 rem(32)
  &_description
    line-height: rem(16)
  &_title, &_description
    text-align: center

@media (max-width: 1023px)
  .page_info
    height: initial
    padding-bottom: rem(32)
