@import '../../../vars'

.bugs_create
  &_wrap
    display: flex
    flex-flow: column
    justify-content: space-between
    height: 100%
  &_form
    display: flex
    flex-flow: column
    justify-content: space-between
    &_controls
      display: flex
      flex-flow: row
      justify-content: flex-end
