<div class="bugs_create_wrap">
  <div class="bugs_create_rules">
    <p>When filling new bug, please provide:</p>
    <div>
      <p>1. Version of Encryptotel PBX or Softphone</p>
      <p>2. Steps to reproduce the issues</p>
      <p>3. Expected result</p>
      <p>4. Actual result</p>
      <p>5. Screenshot file,video or GIF capturing the issue (optional)</p>
    </div>
    <p>Thank you.</p>
  </div>
  <form class="bugs_create_form">
    <p>Bug details</p>
    <input type="text" placeholder="Bug title">
    <textarea placeholder="Describe your Bug ..."></textarea>
    <div class="bugs_create_form_controls">
      <input type="reset" value="Cancel">
      <input type="submit" value="Post">
    </div>
  </form>
  <div class="bugs_create_similar">
    <p>~ No similar bugs found ~</p>
  </div>
</div>
