<div class="bugs_create_wrap" [@Fade]>
  <div class="bugs_create_rules">
    <p>When filling new bug, please provide:</p>
    <div class="bugs_create_rules_items">
      <p>1. Version of Encryptotel PBX or Softphone</p>
      <p>2. Steps to reproduce the issues</p>
      <p>3. Expected result</p>
      <p>4. Actual result</p>
      <p>5. Screenshot file,video or GIF capturing the issue (optional)</p>
    </div>
    <p>Thank you.</p>
  </div>
  <form [formGroup]="newBugForm" class="bugs_create_form">
    <p>Bug details</p>
    <div class="input_wrapper">
      <input type="text" placeholder="Bug title" (keyup)="search($event)" formControlName="summary" autofocus #searchField>
      <span class="alert_message" *ngIf="(!newBugForm.controls.summary.valid && newBugForm.controls.summary.touched)" [@Fade]>min 5 characters</span>
    </div>
    <select-element [values]="priorities" [currentValue]="priority" (getValue)="setTag($event)" [firstWord]="true"></select-element>
    <div class="input_wrapper">
      <textarea placeholder="Describe your Bug ..." formControlName="description"></textarea>
      <span class="alert_message" *ngIf="(!newBugForm.controls.description.valid && newBugForm.controls.description.touched)" [@Fade]>min 10 characters</span>
    </div>
    <div class="bugs_create_form_controls" *ngIf="!isSendedRequest">
      <div class="file_uploader">
        <input type="file">
        <span>Attach a file</span>
      </div>
      <div class="bugs_create_form_controls_input_wrap">
        <input type="reset" value="Cancel" (click)="cancel()">
        <input type="submit" value="Post" (click)="create()">
      </div>
    </div>
    <loader-element *ngIf="isSendedRequest"></loader-element>
  </form>
  <loader-element *ngIf="loading"></loader-element>
  <div class="bugs_create_similar" *ngIf="!loading" [@Fade]>
    <!--<p>~ No similar bugs found ~</p>-->
    <bug-element *ngFor="let bug of similarBugs.issues" [issue]="bug" (vote)="vote($event,searchField)" (report)="report($event, searchField)" (clickHandlerFallback)="getBug($event)"></bug-element>
  </div>
</div>
