@import '../../vars'

.container
  align-items: center
  flex: 1 0 auto
  /deep/ circle, /deep/ rect, /deep/ path
    fill: $accent
  /deep/ .authorization_input:nth-child(n)
    height: rem(35)
    border-width: rem(1)
    padding: rem(5) rem(15)

@media (max-height: 575px)
  .container
    >svg-icon
      margin: rem(32) 0 rem(8)
  .authorization
    &_form
      margin: auto 0 rem(8)
    &_link
      margin: rem(8) 0 auto
    &_copyright
      margin: rem(8) 0 rem(32)
@media (max-height: 511px)
  .container
    .authorization
      &_icon
        margin: rem(16) 0 auto
      &_form, &_input_wrap, &_link
        margin: 0 0 rem(8)
        >button-element
          align-self: flex-end
          margin: 0
      &_copyright
        margin: auto 0 rem(16)
