@import '../../vars'

.transaction
  display: flex
  flex-flow: row
  flex: 1
  padding: rem(8) rem(24)
  &_icon_wrapper
    margin-right: rem(24)
    svg-icon
      width: rem(40)
      height: rem(40)
  &_currency
    &:first-child
      margin-right: auto
    &_wrapper
      display: flex
      flex-flow: column
      flex: 1
    &_row
      flex-direction: row
      flex: 1
      align-items: center
    .usd
      color: #B7B7B7
      //font-size: rem(12)
.full
  display: inline

.splited
  display: none

@media all and (max-width: 767px)
  .transaction
    padding: rem(8) rem(16)
    //font-size: rem(12)
    &_currency_row:first-child
      margin-bottom: rem(8)
  .full
    display: none
  .splited
    display: inline
  .sent
    box-shadow: 0 0 rem(2) 0 rgba($popup_error,.5)
  .received
    box-shadow: 0 0 rem(2) 0 rgba($popup_success,.5)
@media (max-width: 480px)
  .transaction_currency
    &:nth-child(1)
      margin-right: auto
    &:nth-child(2)
      margin-left: auto
      margin-top: rem(8)
    &_row
      flex-direction: column
      flex: none
      &:first-child
        margin-bottom: rem(16)


