<div class="transaction">
  <div class="transaction_icon_wrapper">
    <svg-icon
      src="../../../assets/icons/icon_{{setTypeTransaction(transaction.sender).toLocaleLowerCase()}}.svg"></svg-icon>
  </div>
  <div class="transaction_currency_wrapper">
    <div class="transaction_currency_type">
      <div class="transaction_currency">
        <p class="amount">{{setTypeTransaction(transaction.sender)}} {{asset ? asset: currency}}</p>
      </div>
      <div class="transaction_currency">
        <p class="full usd">{{transaction.timestamp | date:'H:m'}},
          {{type === 'Send'? 'to':'from'}} address {{type === 'Send'?transaction.recipient:transaction.sender}}
        </p>
        <p class="splited usd">{{transaction.timestamp | date:'H:m'}},
          {{type === 'Send'? 'to':'from'}} address {{(type === 'Send'?transaction.recipient:transaction.sender) |
          splitAddress}}
        </p>
      </div>
    </div>
    <div class="transaction_currency_value" *ngIf="transaction.amount">
      <div class="transaction_currency">
        <p class="amount">{{type === 'Send'? '- ': '+ '}}{{(transaction.amount/K) | number: '0.0-8'}} {{asset ? asset: currency}}</p>
      </div>
      <div class="transaction_currency" *ngIf="course.course">
        <p class="usd">{{type === 'Send'? '-': '+'}} {{convertToUSD()}} US Dollar</p>
      </div>
    </div>
  </div>
</div>
