@import '../../vars'

.popup
  width: 100%
  height: 100%
  display: flex
  flex-flow: row
  justify-content: center
  align-items: center
  color: $background
  transition: all .3s ease-in
  padding: rem(10) rem(35) rem(10) rem(10)

svg-icon
  width: rem(15)
  height: rem(15)
  position: absolute
  right: rem(15)
  top: rem(15)
  cursor: pointer
  fill: $background

.active
  bottom: 0

.inactive
  bottom: -100%

.error
  background: $popup_error

.success
  background: $popup_success
