@import "../../vars"
.container
  align-items: center

.transactions
  display: flex
  flex-flow: column
  align-items: center
  width: 80%
  &_filters
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: flex-end
    width: 95%
    flex: 0 0 auto
    select-element
      margin: 10px 10px 10px 0
      flex: 0 1 170px
      /deep/ span
        margin-bottom: rem(4)
        margin-top: rem(4)
    &_list
      display: flex
      flex-flow: row
      justify-content: space-between
      align-items: flex-end
    &_items
      margin: 10px 0 10px 10px
      cursor: pointer
      span
        padding: 10px
  &_items
    &_wrapper
      width: 95%
      display: flex
      flex-flow: column
    &_block
      width: 100%
      margin-bottom: 10px
      flex: 1 0 auto
    &_date
      margin: 20px 0 20px 20px
  &_item
    width: 100%
    flex: 1 0 auto
.low-resolution
  display: none
  max-width: rem(288)
  min-width: rem(288)
.high-resolution
  min-width: rem(320)
  max-width: rem(320)
.active
  border-bottom: 1px solid $accent
.message
  font-size: rem(30)
  color: $gray
  text-align: center
  padding: rem(40) 0
@media all and (max-width: 768px)
  .transactions
    width: 100%
    &_filters
      width: 100%
    &_items
      &_wrapper
        width: 100%
  .high-resolution
    display: none
  .low-resolution
    display: flex
  .message
    font-size: rem(18)
    padding: rem(40) rem(24)

@media all and (max-width: 425px)
  .transactions
    &_filters
      justify-content: center
      &_list
        order: 1
      select-element
        margin: 10px 0
        order: 2
        flex: 0 1 auto
    &_items
      &_date
        margin: 15px 0

@media (max-height: 328px)
  .container
    display: flex
  .transactions_filters
    select-element
      /deep/ .select_options
        max-height: rem(96)
