@import "../../vars"
.container
  align-items: center

.transactions
  display: flex
  flex-flow: column
  align-items: center
  width: 80%
  &_filters
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: flex-end
    width: 95%
    flex: 0 0 auto
    select-element
      margin: rem(10) rem(10) rem(10) 0
      flex: 0 1 rem(170)
      /deep/ span
        margin-bottom: rem(4)
        margin-top: rem(4)
      /deep/ .select_options
        max-height: calc(100vh - 320px)
      /deep/ .select_current
        height: 100%
      /deep/ .select_options, /deep/ .select_current
        >span
          justify-content: center
          margin: 0
          height: 100%
    &_list
      display: flex
      flex-flow: row
      justify-content: space-between
      align-items: flex-end
    &_items
      margin: rem(10) 0 rem(10) rem(10)
      cursor: pointer
      span
        padding: rem(10)
  &_items
    &_wrapper
      width: 95%
      display: flex
      flex-flow: column
    &_block
      width: 100%
      margin-bottom: rem(10)
      flex: 1 0 auto
    &_date
      margin: rem(20) 0 rem(20) rem(20)
  &_item
    width: 100%
    flex: 1 0 auto
.low-resolution
  display: none
  max-width: rem(288)
  min-width: rem(288)
.high-resolution
  min-width: rem(320)
  max-width: rem(320)
.active
  border-bottom: rem(1) solid $accent
.message
  font-size: rem(30)
  color: $gray
  text-align: center
  padding: rem(40) 0
@media all and (max-width: 767px)
  .transactions
    width: 100%
    &_filters
      width: 100%
      select-element
        /deep/ .select_options
          max-height: calc(100vh - 288px)
    &_items_wrapper
      width: 100%
  .high-resolution
    display: none
  .low-resolution
    display: flex
  .message
    font-size: rem(18)
    padding: rem(40) rem(24)


@media all and (max-width: 425px)
  .transactions
    &_filters
      justify-content: center
      &_list
        order: 1
      select-element
        margin: rem(10) 0
        order: 2
        flex: 0 1 auto
    &_items
      &_date
        margin: rem(15) 0

@media (max-height: 328px)
  .container
    display: flex
