<page-info-element [pageInfo]="pageInfo"></page-info-element>
<div class="container">
  <div class="transactions" [@Fade]>
    <div class="transactions_filters">
      <select-element class="high-resolution"
                      [values]="addresses" [keys]="['address']" [currentValue]="nameShorter(address,30,28)"
                      [oneKey]="true" [returnedValue]="'address'" (getValue)="changeAddress($event)"></select-element>
      <select-element class="low-resolution"
                      [values]="addresses" [keys]="['address']" [currentValue]="nameShorter(address,28,26)"
                      [oneKey]="true" [returnedValue]="'address'" (getValue)="changeAddress($event)"></select-element>
      <div class="transactions_filters_list">
        <div class="transactions_filters_items" [ngClass]="{'active': filterType === 'all'}">
          <span (click)="filter('all')">All</span>
        </div>
        <div class="transactions_filters_items" [ngClass]="{'active': filterType === 'sent'}">
          <span (click)="filter('sent')">Sent</span>
        </div>
        <div class="transactions_filters_items" [ngClass]="{'active': filterType === 'received'}">
          <span (click)="filter('received')">Received</span>
        </div>
      </div>
    </div>
    <loader-element *ngIf="loading"></loader-element>
    <div class="transactions_items_wrapper" *ngIf="!loading && transactions && transactions.length > 0">
      <ng-container *ngIf="filteredTransactions.length>0">
        <div class="transactions_items_block" *ngFor="let transaction of filteredTransactions; index as i">
          <div class="transactions_items_date" *ngIf="date[i]">{{transaction.timestamp | date}}</div>
          <div class="transactions_item">
            <transaction-element [transaction]="transaction"
                                 [address]="address"
                                 [@Fade]>
            </transaction-element>
          </div>
        </div>
      </ng-container>
    </div>
    <h2 *ngIf="(!transactions || filteredTransactions.length === 0 || transactions.length === 0) && !loading" class="message">
      You don't have any transactions for this wallet</h2>
  </div>
</div>
