<page-info-element [pageInfo]="pageInfo"></page-info-element>
<div class="transactions">
  <div class="transactions_filters">
    <div class="transactions_filters_items" [ngClass]="{'active': filterType === 'all'}">
      <span (click)="filter('all')">All</span>
    </div>
    <div class="transactions_filters_items" [ngClass]="{'active': filterType === 'send'}">
      <span (click)="filter('send')">Send</span>
    </div>
    <div class="transactions_filters_items" [ngClass]="{'active': filterType === 'received'}">
      <span (click)="filter('received')">Received</span>
    </div>
  </div>
  <div class="transactions_items_wrapper" *ngIf="transactions">
    <div class="transactions_item" *ngFor="let transaction of transactions[0]">
      <transaction-element [transaction]="transaction" [address]="address" [course]="course"></transaction-element>
    </div>
  </div>
</div>

