@import '../../vars'

.container
  align-items: center
  flex: 1 0 auto

.authorization_form_message
  position: absolute
  top: rem(-32)
  text-align: center
  width: 100%
  &:not(.success)
    color: $error
