<div class="bug_list_wrap">
  <div class="bug_list_item">
    <div class="bug_list_item_vote">
      <div class="bug_list_item_vote_counter">
        <span>364</span>
        <span>votes</span>
      </div>
      <button class="bug_list_item_vote_button">Vote</button>
    </div>
    <div class="bug_list_item_description">
      <div class="bug_list_item_description_title">General API for Extensions: Layers, Groups and Elements</div>
      <div class="bug_list_item_description_body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi
        fugiat ipsam labore nemo nesciunt nobis, voluptates? Cumque hic incidunt placeat! Adipisci aliquid consectetur
        dolore, minus non pariatur porro quidem soluta.
      </div>
      <div class="bug_list_item_description_footer">
        <div class="bug_list_item_description_footer_tag">fixed</div>
        <div class="bug_list_item_description_footer_comments">10 comments</div>
        <div class="bug_list_item_description_footer_report">Flag idea as inappropriate..</div>
      </div>
    </div>
  </div>
</div>
