@import '../../vars'

.background_wrap
  padding: rem(32)
  background: $accent
  flex: 0 0 auto
  > .chart_wrap
    width: 100%
    height: rem(240)
  /deep/ text
    fill: $background
    .circle circle
      fill: $background
    rect.tooltip-anchor
      fill: $background
  .chart_description
    flex-direction: row
    color: $background
    font-size: rem(24)
    margin-bottom: rem(16)
    &_wrap
      flex-direction: row
    &_title
      margin-right: rem(32)
      font-size: rem(32)
    &_group
      flex-direction: row
    &_item
      align-items: center
      margin-right: rem(32)
      &_title
        font-size: rem(12)
        text-transform: uppercase
        text-align: center
      &_value
        margin-bottom: rem(8)
  .period_selection
    flex-direction: row
    margin-left: auto
    font-size: rem(14)
    .period_item
      flex: 0 0 auto
      height: rem(16)
      cursor: pointer
      &:not(:last-child)
        margin-right: rem(16)
      &.active
        border-bottom: 1px solid $background
.snippet
  &_wrap
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(rem(256), 1fr))
    grid-gap: rem(24)
    padding: rem(32) 0
  &_item
    min-height: rem(160)
    max-height: rem(160)
    display: flex
    flex-direction: column
    box-shadow: 0 4px 4px rgba($primary,0.15)
    &:hover
      cursor: default
    &.add_new
      >.snippet_name
        background: rgba($primary,0.1)
        border: none
  &_name
    flex: 1
    font-size: rem(24)
    justify-content: center
    padding: 0 rem(24)
    border-bottom: 2px solid $accent
    position: relative
    color: $primary
  &_button
    &_add
      transition: 300ms
      position: absolute
      width: rem(64)
      height: rem(64)
      border-radius: 50%
      background: $accent
      bottom: rem(-32)
      left: calc(50% - 32px)
      box-shadow: 0 8px 8px rgba($primary, 0.15)
      &:hover
        cursor: pointer
        background: darken($accent,15%)
      >span
        position: absolute
        background: $background
        &:first-child
          left: rem(24)
          top: rem(31)
          width: rem(16)
          height: rem(2)
        &:last-child
          top: rem(24)
          left: rem(31)
          height: rem(16)
          width: rem(2)

    &_close
      transition: 150ms
      position: absolute
      top: rem(8)
      right: rem(8)
      height: rem(24)
      width: rem(24)
      cursor: pointer
      border-radius: 50%
      &:hover
        background: rgba($primary, 0.2)
      >span
        position: absolute
        background: $primary
        width: rem(24)
        height: rem(2)
        top: rem(11)
        &:first-child
          transform: rotate(45deg)
        &:last-child
          transform: rotate(315deg)
  &_contain
    flex: 1
    padding: 0 rem(24)
  &_value
    color: $primary
    margin-top: auto
    font-size: rem(24)
    line-height: rem(32)
  &_address
    margin-bottom: auto
    font-size: rem(14)
    color: rgba($primary, .5)
.adding
  z-index: 3
  position: fixed
  height: 100vh
  width: 100vw
  top: 0
  background: rgba($primary,0.5)
  display: flex
  flex-flow: column
  justify-content: center
  align-items: center
  padding: 10px
  &_wrap
    background: $background
    max-width: rem(448)
    padding: 0 rem(24) rem(24)
    /deep/ .other_words
      display: none
    >select-element
      margin: rem(24) 0
      /deep/ .select_options
        max-height: rem(256)
    >input
      height: 35px
      border: 1px solid rgba($primary,.4)
      padding: 0 rem(16)
      font-size: rem(14)
      &::-webkit-input-placeholder
        opacity: 1
        transition: opacity .3s ease
      &::-moz-placeholder
        opacity: 1
        transition: opacity .3s ease
      &:-moz-placeholder
        opacity: 1
        transition: opacity .3s ease
      &:-ms-input-placeholder
        opacity: 1
        transition: opacity .3s ease
      &:focus::-webkit-input-placeholder
        opacity: 0
        transition: opacity .3s ease
      &:focus::-moz-placeholder
        opacity: 0
        transition: opacity .3s ease
      &:focus:-moz-placeholder
        opacity: 0
        transition: opacity .3s ease
      &:focus:-ms-input-placeholder
        opacity: 0
        transition: opacity .3s ease
  &_header
    color: $primary
    padding: rem(24) 0
    flex-direction: row
    flex: 1
    align-items: center
    >div
      font-size: rem(16)
  &_text
    margin: 0 rem(-24)
    padding: rem(24)
    font-size: rem(12)
    line-height: rem(16)
    background: $accent
    color: $background
  &_button
    &_row
      flex-direction: row
    &_close
      position: relative
      margin-left: auto
      transition: 150ms
      height: rem(24)
      width: rem(24)
      cursor: pointer
      border-radius: 50%
      &:hover
        background: rgba($primary, 0.2)
      >span
        position: absolute
        background: $primary
        width: rem(24)
        height: rem(2)
        top: rem(11)
        &:first-child
          transform: rotate(45deg)
        &:last-child
          transform: rotate(315deg)
    &_cancel
      color: $primary
      transition: 300ms
      margin: 0 rem(8) 0 auto
      padding: rem(8) rem(32)
      border-radius: rem(8)
      &:hover
        background: rgba($primary, .15)
        cursor: pointer
    &_add
      padding: rem(8) rem(32)
      border-radius: rem(8)
      background-color: $popup_success
      color: $background
      &:hover
        cursor: pointer

.graph_loader
  /deep/
  .loader_wrap
    span.loader
      background: $background !important

@media (max-width: 768px)
  .background_wrap
    .chart_description
      &_wrap
        flex-wrap: wrap
      &_title
        margin-right: rem(16)
        margin-bottom: rem(16)
      &_group
        margin: 0 auto 0 0
      &_item
        margin: 0 rem(16) rem(16)
    .period_selection
      margin-top: rem(16)
  .snippet
    &_wrap
      grid-template-columns: repeat(auto-fill, minmax(rem(240), 1fr))
      grid-gap: rem(16)
    &_item
      min-height: rem(128)
      max-height: rem(128)
    &_name
      font-size: rem(16)
      padding: 0 rem(16)
    &_contain
      padding: 0 rem(16)
    &_value
      font-size: rem(18)
    &_address
      font-size: rem(12)
    &_button_add
      width: rem(48)
      height: rem(48)
      bottom: rem(-24)
      left: calc(50% - 24px)
@media (max-width: 528px)
  .snippet_item
    width: rem(240)
    margin: 0 auto
@media (max-width: 512px)
  .background_wrap
    .chart_description
      flex-direction: row
@media all and (max-height: 736px)
  .adding
    &_wrap
      >select-element
        /deep/ .select_options
          max-height: rem(150)
@media all and (max-height: 512px)
  .adding
    &_wrap
      >select-element
        /deep/ .select_options
          max-height: rem(65)
@media all and (max-height: 384px)
  .adding
    &_wrap
      max-width: 80vw
      padding: 0 rem(16) rem(16)
      >input
        margin: rem(16) 0
      >select-element
        margin: 0 0 rem(16)
    &_header
      padding: rem(16) 0
    &_text
      margin: 0 rem(-16)
      padding: rem(16)

