<loader-element *ngIf="loading"></loader-element>
<div class="background_wrap" *ngIf="!loading">
  <div class="chart_description">
    <div class="chart_description_wrap">
      <div class="chart_description_title">ETT</div>
      <div class="chart_description_item">
        <div class="chart_description_item_value">${{curse_details.price}}</div>
        <div class="chart_description_item_title">ETT price</div>
      </div>
      <div class="chart_description_item">
        <div class="chart_description_item_value">{{curse_details.mark}}${{curse_details.diff}}</div>
        <div class="chart_description_item_title">Since last {{period}} (USD)</div>
      </div>
      <div class="chart_description_item">
        <div class="chart_description_item_value">{{curse_details.mark}}{{curse_details.percentage}}%</div>
        <div class="chart_description_item_title">Since last {{period}} (%)</div>
      </div>
    </div>
    <div class="period_selection">
      <div class="period_item" [ngClass]="{'active': period === 'day'}" (click)="setPeriod('day')">1D</div>
      <div class="period_item" [ngClass]="{'active': period === 'week'}" (click)="setPeriod('week')">1W</div>
      <div class="period_item" [ngClass]="{'active': period === 'month'}" (click)="setPeriod('month')">1M</div>
    </div>
  </div>
  <div class="chart_wrap">
    <ngx-charts-line-chart
      [customColors]="[{name: 'encryptotel', value: 'rgba(255, 255, 255, .8)'},{name: 'encryptotel-eth', value: 'rgba(66, 66, 66, .8)'}]"
      [xAxis]="true"
      [yAxis]="true"
      [showGridLines]="false"
      [autoScale]="true"
      [results]="rates">
    </ngx-charts-line-chart>
  </div>
</div>
<div class="container" *ngIf="!loading">
  <div class="snippet_wrap">
    <div class="snippet_item" *ngFor="let item of picked_assets">
      <div class="snippet_name">{{getAssetById(item.asset_id)}}
        <div class="snippet_button_close" *ngIf="item['editable']" (click)="removeAsset(item)"><span></span></div>
      </div>
      <div class="snippet_contain">
        <div class="snippet_value">{{item['balance']}}</div>
        <div class="snippet_address">{{nameShorter(item.address, 30, 28)}}</div>
        <div></div>
      </div>
    </div>
    <div class="snippet_item add_new">
      <div class="snippet_name">
        <div class="snippet_button_add"
             (click)="showForm()"
        ><span></span></div>
      </div>
      <div class="snippet_contain"></div>
    </div>
  </div>
</div>
<div class="adding" *ngIf="show_form">
  <div class="adding_item" (click)="hideForm()"></div>
  <div class="adding_row">
    <div class="adding_item" (click)="hideForm()"></div>
    <div class="adding_wrap">
      <div class="adding_header">
        <div>Add asset</div>
        <div class="adding_button_close" (click)="hideForm()"><span></span></div>
      </div>
      <div class="adding_text">
        Select the asset that you want to add to the Dashboard. We only display
        transactions and total sum of the asset. It is completely decentralized,
        we do not store any of that information.</div>
      <input id="address-input"
             title="Asset address"
             #thisaddress
             [placeholder]="'Address'"
             (keyup)="setAddress(thisaddress)">
      <select-element [values]="assets"
                      [keys]="['name']"
                      (getValue)="setAssetId($event)"></select-element>
      <div class="adding_button_row">
        <div class="adding_button_cancel" (click)="hideForm()">Cancel</div>
        <div class="adding_button_add" (click)="addNewAsset()">Add</div>
      </div>
    </div>
    <div class="adding_item" (click)="hideForm()"></div>
  </div>
  <div class="adding_item" (click)="hideForm()"></div>
</div>
