@import '../../vars'

.bug_list
  &_item
    display: flex
    flex-flow: row
    justify-content: space-between
    flex: 1
    &_vote
      display: flex
      flex-flow: column
      justify-content: space-between
      width: 100px
      height: 90px
      &_counter
        background: #F8F8F8
        height: 70%
        display: flex
        flex-flow: column
        justify-content: center
        align-items: center
        border: 1px solid #c5c5c5
        & > span:first-child
          font-size: rem(18)
          margin-bottom: 5px
      &_button
        height: 25%
        display: flex
        flex-flow: column
        justify-content: center
        align-items: center
        background: #E5E5E5
        border: 1px solid #c5c5c5
    &_description
      display: flex
      flex-flow: column
      justify-content: space-between
      width: 82%
      &_title
        font-weight: 600
        cursor: pointer
      &_footer
        display: flex
        flex-flow: row
        justify-content: flex-start
        align-items: center
        & > div
          margin-right: 15px
        &_tag
          border-radius: 20px
          padding: 5px 15px
          text-transform: uppercase
          color: $background
          text-align: center
        &_report
          display: flex
          flex-flow: row
          justify-content: space-between
          &::before
            content: '•'
            padding: 0 5px

.fixed
  background: #804AFF
