@import 'reset'
// Default browser styles reset
@import 'vars'
// Global variables import

//Fonts

@font-face
  font-family: 'Roboto'
  font-weight: 300
  src: url('./assets/fonts/Roboto-Light.ttf') format("truetype")

@font-face
  font-family: 'Roboto'
  font-weight: 400
  src: url('./assets/fonts/Roboto-Regular.ttf') format("truetype")

@font-face
  font-family: 'Roboto'
  font-weight: 600
  src: url('./assets/fonts/Roboto-Bold.ttf') format("truetype")

// Tags styles

*
  box-sizing: border-box
  display: flex
  flex-direction: column

title, script, head
  display: none

body
  color: $primary
  max-width: 100vw
  overflow-x: hidden

html
  font-family: Roboto, sans-serif
  font-weight: 400
  font-size: 14px

main-view
  width: 100vw

// Classes styles

// ID's styles

