@import 'reset'
// Default browser styles reset
@import 'vars'
// Global variables import

//Fonts

@font-face
  font-family: 'Roboto'
  font-weight: 300
  src: url('./assets/fonts/Roboto-Light.ttf') format("truetype")

@font-face
  font-family: 'Roboto'
  font-weight: 400
  font-weight: 400
  src: url('./assets/fonts/Roboto-Regular.ttf') format("truetype")

@font-face
  font-family: 'Roboto'
  font-weight: 600
  src: url('./assets/fonts/Roboto-Bold.ttf') format("truetype")

// Tags styles

*
  box-sizing: border-box
  margin: 0
  padding: 0
  display: flex
  flex-direction: column

title, script, head, router-outlet
  display: none

body
  color: $primary
  width: 100%
  overflow-x: hidden

html
  font-family: Roboto, sans-serif
  font-weight: 400
  font-size: 14px

input
  outline: none
  transition: all linear 150ms
  &::placeholder
    font-weight: 300
    color: rgba($primary, .3)
  &:-webkit-autofill
    animation: auto_fill 0ms forwards

input[type='text'], input[type='email']
  height: 35px
  border: 1px solid #B7B7B7
  padding: 5px 15px
  display: flex
  flex-flow: column
  justify-content: center
  font-family: inherit

.checkbox
  width: 15px
  height: 15px
  cursor: pointer
  border: 1px solid #b7b7b7
  display: flex
  flex-flow: column
  justify-content: center
  align-items: center
  margin-right: 15px
  &_container
    display: flex
    flex-flow: row
  svg-icon
    display: none
  &_active
    background: $accent
    border: none
    svg-icon
      display: block
      fill: $background
      width: 11px
      height: 11px

textarea
  border: 1px solid #B7B7B7
  padding: 5px 15px
  font-family: inherit
  &::placeholder
    font-weight: 300
    color: rgba($primary, .3)

p,a
  display: inline

main-view
  width: 100vw
  height: 100vh
  > *:not(header-element)
    height: calc(100% - 64px)
  sign-in-component, sign-up-component
    height: 100%
  popup-element
    position: absolute
    width: 40%
    height: 50px
    bottom: 0
  settings-component
    flex: 1

loader-element
  flex: 1 0 auto

transaction-element
  border: 1px solid #E1E1E1

page-info-element
  flex: 0 0 auto

bugs-list-component, bugs-create-component, bug-component, feedback-component
  width: 60%

bug-element
  flex: 1 0 100px
  margin-bottom: 35px
// Classes styles

.button_overlay
  position: absolute
  z-index: 1
  border-radius: 50%
  animation: button_animation ease-in 500ms
  transform: scale(0)
  pointer-events: none
  background: rgba($background, .3)
  &.small
    animation: button_animation ease-in 250ms
  &.medium
    animation: button_animation ease-in 350ms

.container
  width: 1280px
  min-width: 300px
  margin: 0 auto

.table
  overflow-x: hidden
  position: relative
  &_row
    flex-direction: row
    flex: 0 0 auto
    &:not(:last-child)
      border-bottom: 1px solid rgba($primary, .2)
    &:nth-child(2n - 1)
      background: rgba($primary, .05)
  &_column
    flex: 1
    justify-content: center
    min-height: rem(40)
    line-height: rem(16)
    padding: 0 rem(16)
    min-width: 0
    > p
      display: inline
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
    &:first-child
      padding-left: rem(16)
    &:last-child
      padding-right: rem(16)
  &_head
    flex: 0 0 auto
    & > .table_row
      background: transparent
      border-bottom: 1px solid rgba($primary, .2)
      color: rgba($primary, .7)
  &_body
    overflow-y: auto
  &_empty
    align-items: center
    margin: 10vh 0
    font-size: rem(20)
    color: rgba($primary, .7)
    text-align: center

.authorization
  &_icon
    width: rem(90)
    margin: 15vh 0
  &_form
    position: relative
    width: rem(400)
    button-element
      width: 50%
      margin-left: auto
      .loader
        background-color: $background !important
    &_error
      position: absolute
      bottom: calc(100% + 24px)
      left: 0
      width: 100%
      text-align: center
      color: $error
  &_input
    padding: 0 rem(16)
    height: rem(40)
    border: 1px solid rgba($primary, .3)
    border-radius: rem(2)
    color: $primary
    &.ng-invalid.ng-touched,
    &.ng-invalid.ng-dirty
      border-color: $error
      color: $error
      &::placeholder
        color: $error
    &_wrap
      position: relative
      margin-bottom: rem(24)
    &_error
      &_wrap
        position: absolute
        top: calc(100% + 4px)
        color: $error
        font-size: rem(12)
  &_copyright
    margin: auto 0 rem(32)
    color: rgba($primary, .5)
    font-size: rem(12)

// Responsive

@media (min-width: 1981px)
  html
    font-size: 18px
  .container
    width: 1440px

@media (max-width: 1279px)
  .container
    width: 1024px

@media (min-width: 1024px)
  .hidden_sm_up
    display: none

@media (max-width: 1023px)
  .container
    width: 768px
    padding: 0 16px
  .hidden_sm_down
    display: none
  .table
    overflow-y: auto
    &_column
      &_wrap
        flex: 0 0 auto
        flex-direction: column
        &:not(:last-child)
          border-bottom: 1px solid rgba($primary, .2)
        &:nth-child(2n - 1)
          background: rgba($primary, .05)
    &_row
      flex: 0 0 auto
      width: 100%
      border-bottom: none !important
      background: transparent !important

  bugs-list-component,bugs-create-component, bug-component
    width: 100%

@media (max-width: 767px)
  .container
    width: 100%
    padding: 0 rem(16)
  .table
    &_column
      &_wrap
        padding-top: rem(8)
      &.title, &.value
        flex: 0 0 100%
      &.title
        height: initial
        min-height: 0
        padding-top: rem(8)
      &:first-child
        justify-content: flex-end
    &_row
      flex-direction: column
  .authorization
    &_form
      width: 100%

  main-view
    popup-element
      width: 100%
      bottom: 50px

@media (max-height: 440px)
  .authorization_copyright
    margin-top: rem(40)
