<page-info-element [pageInfo]="pageInfo"></page-info-element>
<loader-element *ngIf="loading"></loader-element>
<div class="container" *ngIf="!loading">
  <div class="bugs">
    <router-outlet></router-outlet>
    <div class="bugs_category_wrap">
      <button class="bugs_category_new_bug_button">Filing a new Bug</button>
      <div class="bugs_category_container">
        <div class="bugs_category_body">
          <h4>Encryptotel: Bugs</h4>
          <div class="bugs_category">
            <div class="bugs_category_item">
              <div class="bugs_category_item_title current_title">All bugs</div>
              <div class="bugs_category_item_counter current_couter">126</div>
            </div>
            <div class="bugs_category_item">
              <div class="bugs_category_item_title">All bugs</div>
              <div class="bugs_category_item_counter">126</div>
            </div>
            <div class="bugs_category_item">
              <div class="bugs_category_item_title">All bugs</div>
              <div class="bugs_category_item_counter">126</div>
            </div>
            <div class="bugs_category_item">
              <div class="bugs_category_item_title">All bugs</div>
              <div class="bugs_category_item_counter">126</div>
            </div>
          </div>
          <div class="bugs_category_search_wrap">
            <input type="search" placeholder="Search" class="bugs_category_search_input">
            <input type="button" class="bugs_category_search_button">
          </div>
        </div>
      </div>
      <div class="bugs_feedback_wrap">
        <a href="#">Encryptotel: Give feedback</a>
      </div>
    </div>
  </div>
</div>
