<page-info-element [pageInfo]="pageInfo"></page-info-element>
<loader-element *ngIf="loading"></loader-element>
<div class="container" *ngIf="!loading">
  <div class="bugs">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
    <div class="bugs_category_wrap">
      <a routerLink="filing" class="bugs_category_new_bug_button" *ngIf="showButtonCreate">Filing a new Bug</a>
      <div class="bugs_category_container">
        <div class="bugs_category_body">
          <h4>Encryptotel: Bugs</h4>
          <div class="bugs_category">
            <div class="bugs_category_item current_item">
              <div class="bugs_category_item_title current_title">All bugs</div>
              <div class="bugs_category_item_counter current_couter">{{statuses.all}}</div>
            </div>
            <div class="bugs_category_item">
              <div class="bugs_category_item_title">My Topic</div>
              <div class="bugs_category_item_counter">{{statuses.my}}</div>
            </div>
            <div class="bugs_category_item" *ngFor="let status of statuses.statuses">
              <div class="bugs_category_item_title">{{status.name}}</div>
              <div class="bugs_category_item_counter">{{status.issues}}</div>
            </div>
          </div>
          <div class="bugs_category_search_wrap">
            <input type="search" placeholder="Search" class="bugs_category_search_input">
            <input type="button" class="bugs_category_search_button">
          </div>
        </div>
      </div>
      <div class="bugs_feedback_wrap">
        <a href="#">Encryptotel: Give feedback</a>
      </div>
    </div>
  </div>
</div>
