@import "../../vars"
a
  text-decoration: underline

.container
  align-items: center
  height: 100%

.settings
  width: 40%
  display: flex
  flex-flow: column
  &_header
    display: flex
    flex-flow: row
    justify-content: space-between
    align-items: center
    margin: 25px 0
    flex: 1 0 auto
  &_avatar
    max-width: 100%
    height: auto
    &_wrapper
      width: rem(80)
      align-self: start
    &_description
      flex: 1
      margin-left: rem(24)
      align-self: start
      p:first-child
        margin-bottom: rem(8)
  &_form
    flex: 1 0 auto
    form
      display: flex
      flex-flow: column
      justify-content: flex-start
      flex: 1
      p
        margin-top: 5%
  &_delete
    display: flex
    flex-flow: column
    justify-content: flex-end
    height: 15%
    &_link
      color: $error
      cursor: pointer
      margin-bottom: 15px

.input_wrapper
  position: relative
  margin-bottom: 25px
  .icon
    position: absolute
    width: 15px
    height: 15px
    right: 20px
    top: 30%
    fill: #b7b7b7
    animation: loading-icon 1s ease-in-out infinite
  &:nth-child(4)
    .icon
      animation: unset
      cursor: pointer
  .edit
    position: absolute
    right: 42px
    top: 38%
    font-size: 11px
    cursor: pointer
    color: #b7b7b7
  input
    padding: 5px 122px 5px 15px

.checkbox_margin
  margin: 20px 0
.loading_icon
  width: 15px
  height: 15px
  margin-right: 15px
  fill: #b7b7b7
  animation: loading-icon 1s ease-in-out infinite

.alert
  position: absolute
  top: calc(100% + 4px)
  color: $error
  font-size: rem(12)

.invalid
  border: 1px solid $error
.select
  position: relative
  height: 35px
  width: 100%
  border: 1px solid #b7b7b7
  padding: 5px 15px
  display: flex
  flex-flow: column
  justify-content: center
  cursor: pointer
  &_options
    position: absolute
    top: 100%
    left: -1px
    display: flex
    flex-flow: column
    width: calc(100% + 2px)
    background: $background
    border-left: 1px solid #b7b7b7
    border-right: 1px solid #b7b7b7
    border-bottom: 1px solid #b7b7b7
    overflow-y: auto
  &_option
    width: 100%
    padding: 5px 15px
    height: 35px
    display: flex
    flex-flow: column
    justify-content: center
    flex: 1 0 auto
    cursor: pointer
    &:hover
      background: rgba(90, 202, 209, .2)

.mark
  /deep/ .cls-1
    fill: $accent
.icon, .loading_icon
  /deep/ .cls-1
    fill: transparent
@keyframes loading-icon
  from
    transform: rotate(0)
  to
    transform: rotate(360deg)
@media all and (max-width: 768px)
  .settings
    width: 100%
    &_form
      padding-bottom: 15px
@media (max-width: 384px)
  .settings
    &_header
      flex-flow: column
    &_avatar
      &_wrapper
        align-self: center
      &_description
        margin: 0
        >p:first-child
          padding-top: rem(16)
          align-self: center

