@import "../../vars"
a
  text-decoration: underline

.container
  align-items: center
  height: 100%

.settings
  width: 40%
  display: flex
  flex-flow: column
  &_header
    display: flex
    flex-flow: row
    justify-content: space-between
    align-items: center
    margin: rem(25) 0
    flex: 1 0 auto
  &_avatar
    max-width: 100%
    height: auto
    &_wrapper
      width: rem(80)
      align-self: start
    &_description
      flex: 1
      margin-left: rem(24)
      align-self: start
      p:first-child
        margin-bottom: rem(8)
  &_form
    flex: 1 0 auto
    form
      display: flex
      flex-flow: column
      justify-content: flex-start
      flex: 1
      p
        margin-top: 5%
  &_delete
    display: flex
    flex-flow: column
    justify-content: flex-end
    height: 15%
    &_link
      color: $error
      cursor: pointer
      margin-bottom: rem(15)

.input_wrapper
  position: relative
  margin-bottom: rem(25)
  .icon
    position: absolute
    width: rem(15)
    height: rem(15)
    right: rem(20)
    top: 30%
    fill: #b7b7b7
    animation: loading-icon 1s ease-in-out infinite
  &:nth-child(4)
    .icon
      animation: unset
      cursor: pointer
  .edit
    position: absolute
    right: rem(42)
    top: 38%
    font-size: rem(11)
    cursor: pointer
    color: #b7b7b7
  input
    padding: rem(5) 122px rem(5) rem(15)

.checkbox_margin
  margin: rem(20) 0
.loading_icon
  width: rem(15)
  height: rem(15)
  margin-right: rem(15)
  fill: #b7b7b7
  animation: loading-icon 1s ease-in-out infinite

.alert
  position: absolute
  top: calc(100% + 4px)
  color: $error
  font-size: rem(12)

.invalid
  border: rem(1) solid $error
.select
  position: relative
  height: rem(35)
  width: 100%
  border: rem(1) solid #b7b7b7
  padding: rem(5) rem(15)
  display: flex
  flex-flow: column
  justify-content: center
  cursor: pointer
  &_options
    position: absolute
    top: 100%
    left: -1px
    display: flex
    flex-flow: column
    width: calc(100% + 2px)
    background: $background
    border-left: rem(1) solid #b7b7b7
    border-right: rem(1) solid #b7b7b7
    border-bottom: rem(1) solid #b7b7b7
    overflow-y: auto
  &_option
    width: 100%
    padding: rem(5) rem(15)
    height: rem(35)
    display: flex
    flex-flow: column
    justify-content: center
    flex: 1 0 auto
    cursor: pointer
    &:hover
      background: rgba(90, 202, 209, .2)

.mark
  /deep/ .cls-1
    fill: $accent
.icon, .loading_icon
  /deep/ .cls-1
    fill: transparent
@keyframes loading-icon
  from
    transform: rotate(0)
  to
    transform: rotate(360deg)
@media all and (max-width: 768px)
  .settings
    width: 100%
    &_form
      padding-bottom: rem(15)
@media (max-width: 384px)
  .settings
    &_header
      flex-flow: column
    &_avatar
      &_wrapper
        align-self: center
      &_description
        margin: 0
        >p:first-child
          padding-top: rem(16)
          align-self: center
