@import "../../vars"
a
  text-decoration: underline

.container
  align-items: center
  height: 100%

.settings
  width: 40%
  height: 100%
  display: flex
  flex-flow: column
  &_header
    display: flex
    flex-flow: row
    justify-content: space-between
    align-items: center
    height: 20%
  &_avatar
    max-width: 100%
    height: auto
    &_wrapper
      width: 70px
    &_description
      width: 66%
  &_form
    height: 45%
    form
      display: flex
      flex-flow: column
      justify-content: space-around
      height: 100%
      p
        margin-top: 5%
  &_delete
    display: flex
    flex-flow: column
    justify-content: flex-end
    height: 15%
    &_link
      color: $error
      cursor: pointer
      margin-bottom: 15px

.input_wrapper
  position: relative
  .edit
    position: absolute
    right: 20px
    top: 38%
    font-size: 11px
    cursor: pointer
    color: #b7b7b7
    &:last-child
      right: 42px

.icon
  position: absolute
  width: 15px
  height: 15px
  cursor: pointer
  right: 20px
  top: 30%

