<page-info-element [pageInfo]="pageInfo"></page-info-element>
<div class="container">
  <div class="settings">
    <div class="settings_header">
      <div class="settings_avatar_wrapper">
        <img src="../../assets/icons/logo.svg" class="settings_avatar">
      </div>
      <div class="settings_avatar_description">
        <p>Avatar</p>
        <p>
          if you see generic avatar next to your name it means you either don't have a Gravatar for that email address
          or it is not rated G. Get one for free at <a href="http://gravatar.com/">gravatar.com</a>
        </p>
      </div>
    </div>
    <div class="settings_form">
      <form>
        <div class="input_wrapper">
          <input type="text" placeholder="name" [readonly]="!editStatus.name" #nameField
                 [(ngModel)]="account.account.profile.firstname" name="name">
          <span *ngIf="!editStatus.name" class="edit" (click)="edit('name', nameField)">edit name</span>
        </div>
        <div class="input_wrapper">
          <input type="email" placeholder="email" [readonly]="!editStatus.email" #emailField
                 [(ngModel)]="account.account.email" name="email">
          <span *ngIf="!editStatus.email" class="edit" (click)="edit('email', emailField)">edit email</span>
        </div>
        <div class="input_wrapper">
          <div class="select">
            <div class="select_current">English</div>
            <div class="select_options">
              <div class="select_option">
                Russian
              </div>
              <div class="select_option">
                Poland
              </div>
            </div>
            <svg-icon src="../../assets/icons/dropdown_arrow_12px.svg" class="icon"></svg-icon>
          </div>
          <span *ngIf="!editStatus.language" class="edit" (click)="edit('language')">edit language</span>
        </div>
        <p>Email notifications for &#171;My feedback&#187;</p>
        <div class="checkbox_container">
          <div class="checkbox" [ngClass]="{'checkbox_active': status}" (click)="statusUpdates()">
            <svg-icon src="../../assets/icons/check mark_14px.svg"></svg-icon>
          </div>
          <span>Status updates</span>
        </div>
        <div class="checkbox_container">
          <div class="checkbox" [ngClass]="{'checkbox_active': comments}" (click)="newComments()">
            <svg-icon src="../../assets/icons/check mark_14px.svg"></svg-icon>
          </div>
          <span> New comments</span>
        </div>
      </form>
    </div>
    <div class="settings_delete">
      <p class="settings_delete_link">Delete my profile...</p>
      <p>
        Any of your ideas that other have supported will be attributed to &#171;Anonymous&#187;. All of your ideas
        without support and all comments will be deleted.
      </p>
    </div>
  </div>
</div>
