<page-info-element [pageInfo]="pageInfo"></page-info-element>
<div class="container" (click)="hideLanguages($event)">
  <div class="settings">
    <div class="settings_header">
      <div class="settings_avatar_wrapper">
        <img src="https://www.gravatar.com/avatar/{{account.account.hash}}" class="settings_avatar"
             *ngIf="account.account.hash">
      </div>
      <div class="settings_avatar_description">
        <p>Avatar</p>
        <p>
          if you see generic avatar next to your name it means you either don't have a Gravatar for that email address
          or it is not rated G. Get one for free at <a href="http://gravatar.com/">gravatar.com</a>
        </p>
      </div>
    </div>
    <div class="settings_form">
      <form>
        <div class="input_wrapper">
          <input type="text"
                 placeholder="First Name"
                 [disabled]="!editStatus.firstname"
                 #firstname
                 [(ngModel)]="account.account.profile.firstname"
                 name="firstName"
                 (blur)="save('firstname',{firstname:account.account.profile.firstname})"
                 (keyup)="validation($event)"
                 (keydown.enter)="save('firstname', {firstname:account.account.profile.firstname})"
                 maxlength="255"
                 autocomplete='given-name'
                 [ngClass]="{'invalid':!validState.firstname}"
                 id="firstname">
          <span *ngIf="!editStatus.firstName" class="edit" (click)="edit('firstName', firstname)">edit first name</span>
          <svg-icon src="../../assets/icons/refresh_14px.svg" class="icon" *ngIf="loadersIcons.firstname"></svg-icon>
          <span class="alert" *ngIf="!validState.firstname">Please enter correct first name</span>
        </div>
        <div class="input_wrapper">
          <input type="text"
                 placeholder="Last Name"
                 [disabled]="!editStatus.lastname"
                 #lastname
                 [(ngModel)]="account.account.profile.lastname"
                 name="lastName"
                 (blur)="save('lastname',{lastname:account.account.profile.lastname})"
                 (keyup)="validation($event)"
                 (keydown.enter)="save('lastname',{lastname:account.account.profile.lastname})"
                 maxlength="255"
                 autocomplete='family-name'
                 [ngClass]="{'invalid':!validState.lastname}"
                 id="lastname">
          <span *ngIf="!editStatus.lastName" class="edit" (click)="edit('lastName', lastname)">edit last name</span>
          <svg-icon src="../../assets/icons/refresh_14px.svg" class="icon" *ngIf="loadersIcons.lastname"></svg-icon>
          <span class="alert" *ngIf="!validState.lastname">Please enter correct last name</span>
        </div>
        <div class="input_wrapper">
          <input type="email"
                 placeholder="email"
                 [disabled]="!editStatus.email"
                 #email
                 [(ngModel)]="account.account.email"
                 name="email"
                 (blur)="save('email',{email:account.account.email})"
                 (keyup)="validation($event)"
                 (keydown.enter)="save('email',{email:account.account.email})"
                 maxlength="255"
                 autocomplete='email'
                 [ngClass]="{'invalid':!validState.email}"
                 id="email">
          <span *ngIf="!editStatus.email" class="edit" (click)="edit('email', email)">edit email</span>
          <svg-icon src="../../assets/icons/refresh_14px.svg" class="icon" *ngIf="loadersIcons.email"></svg-icon>
          <span class="alert" *ngIf="!validState.email">Please enter correct e-mail</span>
        </div>
        <div class="input_wrapper">
          <div class="select" (click)="showLanguages()">
            <div class="select_current">{{currentLanguage()}}</div>
            <div class="select_options" *ngIf="editStatus.language">
              <div class="select_option" *ngFor="let language of languages" (click)="setLanguage(language)">
                {{language.name}}
              </div>
            </div>
            <svg-icon src="../../assets/icons/dropdown_arrow_12px.svg" class="icon"></svg-icon>
          </div>
          <span *ngIf="!editStatus.language" class="edit" (click)="showLanguages()" id="langEdit">edit language</span>
        </div>
        <p>Email notifications for &#171;My feedback&#187;</p>
        <div class="checkbox_container">
          <div class="checkbox" *ngIf="!loadersIcons.status"
               [ngClass]="{'checkbox_active': this.account.account.profile.status_updates}"
               (click)="setStatusUpdates()">
            <svg-icon src="../../assets/icons/check mark_14px.svg"></svg-icon>
          </div>
          <svg-icon src="../../assets/icons/refresh_14px.svg" class="loading_icon"
                    *ngIf="loadersIcons.status"></svg-icon>
          <span>Status updates</span>
        </div>
        <div class="checkbox_container">
          <div class="checkbox" [ngClass]="{'checkbox_active': this.account.account.profile.new_comments}"
               (click)="setNewComments()" *ngIf="!loadersIcons.comments">
            <svg-icon src="../../assets/icons/check mark_14px.svg"></svg-icon>
          </div>
          <svg-icon src="../../assets/icons/refresh_14px.svg" class="loading_icon"
                    *ngIf="loadersIcons.comments"></svg-icon>
          <span>New comments</span>
        </div>
      </form>
    </div>
    <!--<div class="settings_delete">-->
    <!--<p class="settings_delete_link">Delete my profile...</p>-->
    <!--<p>-->
    <!--Any of your ideas that other have supported will be attributed to &#171;Anonymous&#187;. All of your ideas-->
    <!--without support and all comments will be deleted.-->
    <!--</p>-->
    <!--</div>-->
  </div>
</div>
