<page-info-element [pageInfo]="pageInfo"></page-info-element>
<div class="container">
  <div class="settings">
    <div class="settings_header">
      <div class="settings_avatar_wrapper">
        <img src="../../assets/icons/logo.svg" class="settings_avatar">
      </div>
      <div class="settings_avatar_description">
        <p>Avatar</p>
        <p>
          if you see generic avatar next to your name it means you either don't have a Gravatar for that email address
          or it is not rated G. Get one for free at <a href="http://gravatar.com/">gravatar.com</a>
        </p>
      </div>
    </div>
    <div class="settings_form">
      <form [formGroup]="settings">
        <input type="text" placeholder="name">
        <input type="email" placeholder="email">
        <input type="text" placeholder="language">
        <p>Email notifications for &#171;My feedback&#187;</p>
        <input type="checkbox" value="Status updates">
        <input type="checkbox" value="New comments">
      </form>
    </div>
    <div class="settings_delete">
      <p class="settings_delete_link">Delete my profile...</p>
      <p>
        Any of your ideas that other have supported will be attributed to &#171;Anonymous&#187;. All of your ideas
        without support and all comments will be deleted.
      </p>
    </div>
  </div>
</div>
