@import '../../../vars'

.bug
  &_header
    display: flex
    flex-flow: column
    margin-bottom: rem(25)
    h3
      font-weight: 500
      font-size: rem(20)
      margin-bottom: rem(10)
    a
      &::before
        content: '←'
        padding: 0 rem(5)
  &_body
    display: flex
    flex-flow: row
    justify-content: space-between
    flex: 1
    min-height: rem(100)
    margin-bottom: rem(30)
    &_votes
      display: flex
      flex-flow: column
      justify-content: space-between
      width: rem(100)
      height: rem(100)
      &_counter
        background: #F8F8F8
        height: 65%
        display: flex
        flex-flow: column
        justify-content: center
        align-items: center
        border: rem(1) solid $dark_gray
        user-select: none
        & > span:first-child
          font-size: rem(18)
          margin-bottom: rem(5)
      &_button
        height: 30%
        display: flex
        flex-flow: column
        justify-content: center
        align-items: center
        background: #E5E5E5
        border: none
        cursor: pointer
        &:focus
          outline: none
    &_description
      display: flex
      flex-flow: column
      justify-content: space-between
      width: 80%
      h4
        font-weight: 600
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
      h4, > p
        margin-bottom: rem(15)
      p
        font-size: 0.92rem
        line-height: 1.1
        word-wrap: break-word
      &_author
        display: flex
        flex-flow: row wrap
        justify-content: flex-start
        align-items: center
        & > div
          width: rem(18)
          margin-right: rem(5)
        & p:nth-child(3)
          margin: 0 rem(2)
          &::after, &::before
            content: '•'
            padding: 0 rem(5)
        & p:nth-child(4)
          cursor: pointer
  &_response
    display: flex
    flex-flow: row
    justify-content: space-between
    &_avatar
      width: 15%
      display: flex
      flex-flow: row
      justify-content: flex-end
      & > div
        width: 35%
    &_text
      display: flex
      flex-flow: column
      width: 82%
    &_header
      display: flex
      flex-flow: row wrap
      align-items: center
      margin-bottom: rem(10)
      & p:not(:nth-child(1))
        font-size: rem(12)
      & p:nth-child(2)
        margin: 0 rem(2)
        &::after, &::before
          content: '•'
          padding: 0 rem(5)
    &_body
      display: flex
      flex-flow: column
      margin-bottom: rem(30)
    &_footer
      p
        color: #cfcfcf
        cursor: pointer
        font-size: rem(12)
  &_files
    &_wrap
      display: flex
      flex-flow: row wrap
      align-items: flex-end
      margin-left: 20%
    &_item
      margin-right: rem(15)
      margin-bottom: rem(15)
      width: rem(32)
      a
        img
          margin-bottom: rem(10)
        svg-icon
          width: rem(32)
          height: rem(32)
          margin-bottom: rem(10)
        span
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          font-size: rem(11)
  &_newComment
    display: flex
    flex-flow: column
    margin-top: rem(30)
    h3
      font-weight: 600
      font-size: rem(15)
    textarea
      height: rem(135)
      margin: rem(10) 0
      font-family: inherit
    &_control
      display: flex
      flex-flow: row
      justify-content: flex-end
      position: relative
      input
        cursor: pointer
        border: none
        display: flex
        flex-flow: row
        justify-content: center
        align-items: center
        width: rem(120)
        height: rem(30)
        background: $accent
        color: $background
        border-radius: rem(5)
        margin-bottom: rem(30)
        font-size: rem(15)
  &_comments
    &_list
      display: flex
      flex-flow: column
      padding-bottom: rem(35)
    &_item
      display: flex
      flex-flow: row
      justify-content: space-between
      margin-bottom: rem(25)
      &_avatar
        width: 5%
      &_body
        display: flex
        flex-flow: column
        width: 92%
      &_author
        display: flex
        flex-flow: row wrap
        margin-bottom: rem(15)
        & > p
          font-size: rem(12)
        & p:nth-child(2)
          margin: 0 rem(2)
          &::after, &::before
            content: '•'
            padding: 0 rem(5)
        & p:nth-child(3)
          cursor: pointer

.tag
  border-radius: rem(20)
  padding: rem(5) rem(15)
  text-transform: uppercase
  color: $background
  text-align: center

img
  max-width: 100%

textarea:focus
  outline: none

.invalid
  border: rem(1) solid $error

.alert_message
  color: $error
  position: absolute
  top: 0
  left: rem(15)

.voted
  background: $success
  color: $background

.reported
  color: $error

.new
  background: #4995fd

.planned
  background: #ffa44a

.in_progress
  background: #41d070

.done
  background: #8756fc

.known_issue
  background: #f25757

.closed
  background: #898888

@media (max-width: 1023px)
  .bug
    &_body
      &_votes
        width: 15%
        &_counter
          & > span:first-child
            font-size: rem(14)
          & > span:last-child
            font-size: rem(12)
      &_description
        width: 80%
        &_author
          flex-flow: column
          justify-content: flex-start
          align-items: flex-start
          & > div
            display: none
          & > p
            font-size: rem(12)
          & > p, > p:nth-child(3)
            margin: rem(5) 0 0 0
          & p:nth-child(3)
            &::after, &::before
              display: none
    &_response
      &_avatar
        width: 15%
        justify-content: flex-start
        & > div
          width: 100%
      &_text
        width: 80%
      &_header
        display: flex
        flex-flow: column
        align-items: flex-start
        & > p
          font-size: rem(12)
        & p:nth-child(2)
          margin: rem(5) 0
    &_comments
      &_item
        &_avatar
          width: 15%
        &_body
          width: 80%
        &_author
          & > p
            font-size: rem(12)
          & p:nth-child(3)
            margin: rem(5) 0
